* {
    margin: 0;
    padding: 0;
    font-family: "Akaya Kanadaka", system-ui;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.7)), url('univesity.png'); 
    background-position: center;
    background-size: cover;
    position: relative; 
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 220px;
    height: 170px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
 color: #fff;
 text-decoration: none;
 font-size: 15px;   
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 4px;
    background: rgb(63, 131, 228);
    display: block;
    margin: auto;
    transition: 0.9s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box h1:hover {
    color:  rgb(63, 131, 228);
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}
.logo-container {
    align-items: center;
    text-decoration: none;
}
.university-name {
    margin-left: 10px;
    font-size: 27px;
    color: #128fc4; 
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    border: 2px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 2px solid rgb(63, 131, 228);
    background: rgb(63, 131, 228);
    transition: 1s;
}
/*-------------------------FEATURES---------------------------------*/
.features{
    padding: 2vw 2vw 2vw 2vw;
}
.fea-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}
.fea-box {
    background: rgb(193, 216, 249);
    text-align: start;
    width: 450px;
    padding-left: 32px;
    padding-top: 20px;
    transition: box-shadow 0.3s;
}
.fea-box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); 
}
.fea-box i{
    font-size: 3rem;
    color: rgb(44,44,80);
}
.fea-box h3{
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(46,46,59);
    padding: 10px 0 5px 0;
}

.fea-box p{
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(70,70,87);
}


/*-------------------------COURSE--------------------------*/

.course{
    width: 80%;
    margin: auto;
    padding-top: 50px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}
 h1:hover {
    color:  rgb(63, 131, 228);
}
p{
    color: #090808;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background:rgb(193, 216, 249);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12 px;
    box-sizing: border-box;
    transition: 0.5s;
}
h1:hover {
    color:  rgb(63, 131, 228);
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.6); 
}

/*----------------------COLLEGE----------------------------*/
.college{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.college-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.college-col img {
    width: 100%;
    height: auto;
}

.college-col img[src="america.jpg"],
.college-col img[src="london.jpeg"] {
    height: 200px;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover {
    background: rgb(72, 122, 192, 0.5);
}

/*-------------FACILITIES-----------------------------*/
.facility{
    width: 80%;
    margin: auto;
    text-align:center;
    padding-top: 100px; 
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.facilities-col img:hover {
    transform: scale(1.1); 
}
.facilities-col p{
    padding: 0;
}

.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/*------------------------ALUMNI---------------------------------*/
.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: rgb(193, 216, 249);
    padding: 25px;
    cursor: pointer;
    display: flex;
    transition: background-color 0.3s; /* Add transition effect */
}
.testimonial-col:hover {
    background-color: rgba(63, 131, 228); 
}
.testimonial-col img{
    height: 60px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonial-col p{
    padding: 0;
}
.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}
.testimonial-col .fa{
    color: goldenrod
}

/*----------------------CALL TO ACTION--------------------------*/
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)), url('work.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}



/*------------------------FOOTER------------------------*/
footer {
    padding: 2vw;
    background-color: rgb(21,21,100);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
} 

.footer-col {
    padding-bottom: 20px;
}

footer h3 {
    color: rgb(241, 240, 245);
    font-weight: 600;
    padding-bottom: 10px;
    font-size: 20px;
}

footer li {
    list-style: none;
    color: #7b838a;
    padding: 5px 0;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}
footer li:hover{
    color: rgb(241,240,245)
}
footer p{
    color: #7b838a;
    font-size: 18px;
}

footer .subscribe{
    margin-top: 10px;
}
.footer-col ul li a {
    color: #0096cf;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-col ul li a:hover {
    color: #c915c0;
}

footer input{
    width: 180px;
    padding: 12px 10px;
    background: #334f6c;
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
}

footer .subscribe a{
    text-decoration: none;
    font-size: 0.8rem;
    padding: 10px 25px;
    background: #fff;
    font-weight: 600;
}
footer .subscribe a.blue{
    color: #fff;
    background: rgb(63, 131, 228);
    transition: 0.3s ease;
}
footer .subscribe a.blue:hover{
    color: rgb(21,21,100);
    background:  #fff;
}
footer .copyright{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
footer .copyright p{
    color: #fff;
    font-size: 18px;
}

footer h4{
    margin-bottom: 10px;
    margin-top: 5px;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
}
.icons .fa {
    color: rgb(63, 131, 228);
    margin: 0 10px;
    cursor: pointer;
    padding: 14px 0;
    font-size: 32px;
}
/*----------------------ABOUT US PAGE -----------------------------------------------------------------------------*/
.sub-header {
    height: 75vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)), url('graduation.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1 {
    margin-top: 100px;
}

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-col {
    flex-basis: 48%;
    padding: 10px 1px;
    text-align: center;
}

.image-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px; 
}

.image-group img {
    width: calc(33.33% - 10px); 
    margin-bottom: 10px; 
    transition: box-shadow 0.3s ease; /
}

.image-group img:hover {
    box-shadow: 0 0 10px rgb(10, 105, 237); 
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 1s;
}

.nav {
    text-align: center;
    margin-top: 15px;
}

.nav button {
    font-size: 25px;
}

.about-col h1 {
    padding-top: 0;
    margin-bottom: 2px;
    margin-top: 0;
    padding-bottom: 7%;
}

.about-col p {
    padding: 10px 0 20px;
    line-height: 1.5;
}

.red-btn {
    border: 1px solid rgb(63, 131, 228);
    background: transparent;
    color: rgb(63, 131, 228);
    display: inline-block;
    text-align: center;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color .3s ease;
    text-decoration: none;
}

.red-btn:hover {
    background-color: rgb(63, 131, 228);
    color: #fff;
}

/*-----------------------BLOG PAGE------------------------------------------*/
.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.blog-left{
    flex-basis: 65%;
}
.blog-left img{
    width: 100%;
}
.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}
.blog-left p{
    color: #454343;
    padding: 0;
}
.blog-right{
    flex-basis: 32%;
}
.blog-right img{
    width: 100%;
}
.blog-right h3{
    background: rgb(63, 131, 228);
    color: #fff;
    padding: 10px 0;
    font-size: 24px;
    margin-bottom: 20px;
}
.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #060606;
    padding: 15px;
    box-sizing: border-box;
}
.blog-right span {
    font-size: 20px; 
}
.blog-left img, .blog-right img {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease;
}
.blog-left:hover img, .blog-right:hover img {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8); 
}
.comment-box {
    border: 2px solid #111111;
    margin: 50px 0;
    padding: 10px 20px;
    transition: box-shadow 0.3s ease;
}

.comment-box:hover {
    box-shadow: 0 0 10px rgb(63, 131, 228); 
}
.comment-box h3{
    text-align: left;
}
.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: 1px;
    outline: none;
    background: #f0f0f0;
}
.comment-form button{
    margin: 10px;
}

/*----------------------------------GALLERY PAGE ----------------------------------*/

.sub-header1 {
    height: 75%;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0.8)),url('banner.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.container {
    max-width: 1600px; 
    margin: auto;
    background:  rgb(193, 216, 249);
    overflow: auto;
}

.img-gallery {
    width: 45%;
    margin: 5px;
    border: 1px solid #090909;
    float: left;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 0px;
}

.img-gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.desc {
    padding: 15px;
    text-align: center;
    font-size: 26px;
}

.img-gallery img:hover {
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}

.full-img {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9); 
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-img img {
    width: 90%;
    max-width: 500px;
}
.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 35px;
    color: #fff;
    cursor: pointer;
}

/*---------------------------------CONTACT US PAGE ------------------------------------------*/
#contact {
    padding: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

 #contact .getin{
    width: 350px;
 }

 #contact .getin h2{
    color: #2c234d;
    font-size: 30px;
    line-height: .8;
    margin-bottom: 16px;
 }
 #contact .getin p{
    color: #706c6c;
    line-height: 24px;
    margin-bottom: 33px;
    padding-bottom: 25px;
    border-bottom: 2px solid #0c0c0c;

 }
 #contact .getin h3{
    color: #383839;
   font-size: 22px;
   font-weight: 600;
   line-height: 26px;
   margin-bottom: 15px;
 }
 #contact .getin .getin-details div{
    display: flex;
 }

 #contact .getin .getin-details div .get{
    font-size: 30px;
    line-height: 22px;
    color: rgb(63, 131, 228);
    margin-right: 20px;
 }
 #contact .getin .getin-details div p{
    font-size: 18px;
    border-bottom: none;
    line-height: 22px;
    margin-bottom: 15px;
 }
 #contact .getin .getin-details .icons i{
    margin-right: 20px;
 }
 #contact .form{
    width: 60%;
    background: rgb(193, 216, 249);;
    padding: 40px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
 }
 #contact .form:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); 
}
 #contact .form h4{
    font-size: 24px;
    color: #2c234d;
    line-height: 30px;
    margin-bottom: 8px;
 }
 #contact .form p{
    color: #67656f;
    line-height: 24px;
    padding-bottom: 25px;
 }
 #contact .form .form-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
 }
 #contact .form .form-row input{
    width: 48%;
    font-size: 16px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px; 
    margin-bottom: 20px;
 }
 #contact .form .form-col input,  textarea {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px; 
    margin-bottom: 20px;
 }
 #contact .form button {
    font-size: .9rem;
    padding: 13px 25px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    font-weight: 600;
    border: 1px solid rgb(63, 131, 228);
    background: transparent;
    color: rgb(228, 63, 220);
    transition: border 0.5s ease, background 0.5s ease, color 0.5s ease; 
}
#contact .form button:hover {
    border: 2px solid rgb(63, 131, 228);
    background: rgb(63, 131, 228);
    color: white; 
}
#map{
    width: 100%;
    height: 70vh;
    margin-bottom: 2vw
}
#map iframe{
    width: 100%;
    height: 100%;
}

/*------------------------------IMAGE SLIDER-------------------------------------------------*/
 /* Image slider container */
 .slider {
    max-width: 600px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
  }

  /* Images inside the slider */
  .slider img {
    width: 100%;
    height: auto;
    display: none;
  }

  /* Show first image by default */
  .slider img:first-child {
    display: block;
  }

  /* Navigation buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }

  .slider p {
    color: #090808;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
  }
 
 











